/* --------------------------------------------------------- */
/* 
  ____  _____            _   _ _____ _____ _   _  _____ 
 |  _ \|  __ \     /\   | \ | |  __ \_   _| \ | |/ ____|
 | |_) | |__) |   /  \  |  \| | |  | || | |  \| | |  __ 
 |  _ <|  _  /   / /\ \ | . ` | |  | || | | . ` | | |_ |
 | |_) | | \ \  / ____ \| |\  | |__| || |_| |\  | |__| |
 |____/|_|  \_\/_/    \_\_| \_|_____/_____|_| \_|\_____|
                                                    
*/
/* --------------------------------------------------------- */

/*///////////// SUBATOMICS/BRANDING start /////////////*/

:root {
  --accent-color-h: var(--blue-h);
  --accent-color-s: var(--blue-s);
  --accent-color-l: var(--blue-l);
  --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  --accent-color-800: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 30));
  --accent-color-900: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 40));
  --accent-color-50pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.5);
  --accent-color-gradient-start: var(--blue-gradient-start);
  --accent-color-gradient-end: var(--blue-gradient-end);
  --accent-gradient: var(--blue-gradient);
}


/*///////////// SUBATOMICS/BRANDING end /////////////*/
/* --------------------------------------------------------- */
