/* Light-value */
$black: #000000;
$off-black: #1C1C1C;
$gray: #7B7B7C;
$off-gray: #4C4C4C;
$white: #FFFFFF;
$off-white: #F9FAFB;
$slate-950: #060819;
$slate-050: #ECF0F3;

/* Hues */
$indigo: #7537F8;
$teal: #02BCAA;
$butterscotch: #FFA502;
$coral: #F75D78;
$blue: #1F8DF0;
$gold: #CFA36D;
$wine: #331E33;