/* --------------------------------------------------------- */
/*
    _____ ____  _      ____  _____   _____ 
  / ____/ __ \| |    / __ \|  __ \ / ____|
 | |   | |  | | |   | |  | | |__) | (___  
 | |   | |  | | |   | |  | |  _  / \___ \ 
 | |___| |__| | |___| |__| | | \ \ ____) |
  \_____\____/|______\____/|_|  \_\_____/ 
                                         
*/
/* --------------------------------------------------------- */
/*///////////// SUBATOMICS/COLORS start /////////////*/

/* LIGHTNESS */

     /* Black */
     :root {
        --black: hsl(0, 0%, 0%); /* #000000 */
        --off-black: hsl(0, 0%, 11%); /* #1C1C1C */
        --black-90pct: hsla(0, 0%, 0%, 0.9);
        --black-80pct: hsla(0, 0%, 0%, 0.8);
        --black-70pct: hsla(0, 0%, 0%, 0.7);
        --black-60pct: hsla(0, 0%, 0%, 0.6);
        --black-50pct: hsla(0, 0%, 0%, 0.5);
        --black-40pct: hsla(0, 0%, 0%, 0.4);
        --black-30pct: hsla(0, 0%, 0%, 0.3);
        --black-20pct: hsla(0, 0%, 0%, 0.2);
        --black-10pct: hsla(0, 0%, 0%, 0.1);
     }

     /* Gray */
     :root {
        --gray: hsl(240, 0%, 48%); /* #7B7B7C */
        --off-gray: hsl(0, 0%, 30%); /* #4C4C4C */
     }

     /* White */
     :root {
        --white: hsl(0, 0%, 100%); /* #FFFFFF */
        --off-white: hsl(210, 20%, 98%); /* #F9FAFB */
        --white-90pct: hsla(0, 0%, 100%, 0.9);
        --white-80pct: hsla(0, 0%, 100%, 0.8);
        --white-70pct: hsla(0, 0%, 100%, 0.7);
        --white-60pct: hsla(0, 0%, 100%, 0.6);
        --white-50pct: hsla(0, 0%, 100%, 0.5);
        --white-40pct: hsla(0, 0%, 100%, 0.4);
        --white-30pct: hsla(0, 0%, 100%, 0.3);
        --white-20pct: hsla(0, 0%, 100%, 0.2);
        --white-10pct: hsla(0, 0%, 100%, 0.1);
     }

     /* Slate */
     :root {
        --slate-050: hsl(231, 64%, 96%); /* #EDEFFB */
        --slate-100: hsl(210, 11%, 85%); /* #D6D8E4 */
        --slate-200: hsl(218, 7%, 76%); /* #BFC1CE */
        --slate-300: hsl(224, 7%, 68%); /* #A8AAB7 */
        --slate-400: hsl(233, 8%, 60%); /* #9193A1 */
        --slate-500: hsl(226, 5%, 50%); /* #7A7C8A */
        --slate-600: hsl(233, 8%, 42%); /* #626473 */
        --slate-700: hsl(228, 9%, 32%); /* #4B4D5D */
        --slate-800: hsl(233, 14%, 24%); /* #343646 */
        --slate-900: hsl(233, 24%, 15%); /* #1D1F30 */
        --slate-950: hsl(234, 61%, 6%); /* #060819 */
        --slate-050-90pct: hsla(231, 64%, 96%, 0.9);
        --slate-050-80pct: hsla(231, 64%, 96%, 0.8);
        --slate-050-70pct: hsla(231, 64%, 96%, 0.7);
        --slate-050-60pct: hsla(231, 64%, 96%, 0.6);
        --slate-050-50pct: hsla(231, 64%, 96%, 0.5);
        --slate-050-40pct: hsla(231, 64%, 96%, 0.4);
        --slate-050-30pct: hsla(231, 64%, 96%, 0.3);
        --slate-050-20pct: hsla(231, 64%, 96%, 0.2);
        --slate-050-10pct: hsla(231, 64%, 96%, 0.1);
        --slate-950-90pct: hsla(234, 61%, 6%, 0.9);
        --slate-950-80pct: hsla(234, 61%, 6%, 0.8);
        --slate-950-70pct: hsla(234, 61%, 6%, 0.7);
        --slate-950-60pct: hsla(234, 61%, 6%, 0.6);
        --slate-950-50pct: hsla(234, 61%, 6%, 0.5);
        --slate-950-40pct: hsla(234, 61%, 6%, 0.4);
        --slate-950-30pct: hsla(234, 61%, 6%, 0.3);
        --slate-950-20pct: hsla(234, 61%, 6%, 0.2);
        --slate-950-10pct: hsla(234, 61%, 6%, 0.1);
     }


/* --------------------------------------------------------- */

/* HUES */

     :root {
        --indigo: hsl(259, 93%, 59%);
        --teal: #02BCAA;
        --butterscotch: hsl(39, 100%, 50%);
        --coral: #F75D78;
        --gold: #CFA36D;
        --wine: #331E33;
     }

     /* Blue */
     :root {
        --blue-h: 208;
        --blue-s: 100%;
        --blue-l: 53%;
        --blue: hsl(var(--blue-h), var(--blue-s), var(--blue-l)); 
        --blue-100: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 40));
        --blue-200: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 30));
        --blue-300: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 20));
        --blue-400: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) + 10));
        --blue-500: var(--blue);
        --blue-600: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 10));
        --blue-700: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 20));
        --blue-800: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 30));
        --blue-900: hsl(var(--blue-h), var(--blue-s), calc(var(--blue-l) - 40));
        --blue-90pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.9);
        --blue-80pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.8);
        --blue-70pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.7);
        --blue-60pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.6);
        --blue-50pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.5);
        --blue-40pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.4);
        --blue-30pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.3);
        --blue-20pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.2);
        --blue-10pct: hsla(var(--blue-h), var(--blue-s), var(--blue-l), 0.1);
        --blue-gradient-start: hsl(calc(var(--blue-h) + 20), var(--blue-s), var(--blue-l));
        --blue-gradient-end: hsl(calc(var(--blue-h) - 20), var(--blue-s), var(--blue-l));
        --blue-gradient: linear-gradient(45deg, var(--blue-gradient-start), var(--blue-gradient-end));
     }

     /* Indigo */
     :root {
        --indigo-h: 259;
        --indigo-s: 100%;
        --indigo-l: 59%;
        --indigo: hsl(var(--indigo-h), var(--indigo-s), var(--indigo-l)); 
        --indigo-100: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) + 40));
        --indigo-200: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) + 30));
        --indigo-300: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) + 20));
        --indigo-400: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) + 10));
        --indigo-500: var(--indigo);
        --indigo-600: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) - 10));
        --indigo-700: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) - 20));
        --indigo-800: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) - 30));
        --indigo-900: hsl(var(--indigo-h), var(--indigo-s), calc(var(--indigo-l) - 40));
        --indigo-90pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.9);
        --indigo-80pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.8);
        --indigo-70pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.7);
        --indigo-60pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.6);
        --indigo-50pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.5);
        --indigo-40pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.4);
        --indigo-30pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.3);
        --indigo-20pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.2);
        --indigo-10pct: hsla(var(--indigo-h), var(--indigo-s), var(--indigo-l), 0.1);
        --indigo-gradient-start: hsl(calc(var(--indigo-h) + 20), var(--indigo-s), var(--indigo-l));
        --indigo-gradient-end: hsl(calc(var(--indigo-h) - 20), var(--indigo-s), var(--indigo-l));
        --indigo-gradient: linear-gradient(45deg, var(--indigo-gradient-start), var(--indigo-gradient-end));
     }
     
     /* Butterscotch */
     :root {
        --butterscotch-h: 39;
        --butterscotch-s: 100%;
        --butterscotch-l: 50%;
        --butterscotch: hsl(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l));
        --butterscotch-100: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) + 40));
        --butterscotch-200: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) + 30));
        --butterscotch-300: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) + 20));
        --butterscotch-400: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) + 10));
        --butterscotch-500: var(--butterscotch);
        --butterscotch-600: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) - 10));
        --butterscotch-700: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) - 20));
        --butterscotch-800: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) - 30));
        --butterscotch-900: hsl(var(--butterscotch-h), var(--butterscotch-s), calc(var(--butterscotch-l) - 40));
        --butterscotch-90pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.9);
        --butterscotch-80pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.8);
        --butterscotch-70pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.7);
        --butterscotch-60pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.6);
        --butterscotch-50pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.5);
        --butterscotch-40pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.4);
        --butterscotch-30pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.3);
        --butterscotch-20pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.2);
        --butterscotch-10pct: hsla(var(--butterscotch-h), var(--butterscotch-s), var(--butterscotch-l), 0.1);
        --butterscotch-gradient-start: hsl(calc(var(--butterscotch-h) + 20), var(--butterscotch-s), var(--butterscotch-l));
        --butterscotch-gradient-end: hsl(calc(var(--butterscotch-h) - 20), var(--butterscotch-s), var(--butterscotch-l));
        --butterscotch-gradient: linear-gradient(45deg, var(--butterscotch-gradient-start), var(--butterscotch-gradient-end)); 
     }

     /* Raspberry */
     :root {
        --raspberry: #F60B43;
        --raspberry-h: 345;
        --raspberry-s: 100%;
        --raspberry-l: 47%;
        --raspberry: hsl(var(--raspberry-h), var(--raspberry-s), var(--raspberry-l));
        --raspberry-100: hsl(var(--raspberry-h), var(--raspberry-s), calc(var(--raspberry-l) + 40));
        --raspberry-200: hsl(var(--raspberry-h), var(--raspberry-s), calc(var(--raspberry-l) + 30));
         --raspberry-20pct: hsla(var(--raspberry-h), var(--raspberry-s), var(--raspberry-l), 0.2);
         --raspberry-10pct: hsla(var(--raspberry-h), var(--raspberry-s), var(--raspberry-l), 0.1);
         --raspberry-gradient-start: hsl(calc(var(--raspberry-h) + 20), var(--raspberry-s), var(--raspberry-l));
         --raspberry-gradient-end: hsl(calc(var(--raspberry-h) - 20), var(--raspberry-s), var(--raspberry-l));
         --raspberry-gradient: linear-gradient(45deg, var(--raspberry-gradient-start), var(--raspberry-gradient-end));
    }

    
/*///////////// SUBATOMICS/COLOR end /////////////*/
/* --------------------------------------------------------- */