/* --------------------------------------------------------- */
/* 
   _____ ______ _   _ ______ _____            _      
  / ____|  ____| \ | |  ____|  __ \     /\   | |     
 | |  __| |__  |  \| | |__  | |__) |   /  \  | |     
 | | |_ |  __| | . ` |  __| |  _  /   / /\ \ | |     
 | |__| | |____| |\  | |____| | \ \  / ____ \| |____ 
  \_____|______|_| \_|______|_|  \_\/_/    \_\______|
                                                     
                                                     
*/
/* --------------------------------------------------------- */

/*///////////// SUBATOMICS/GENERAL start /////////////*/

.d-none {
    display: none;
  }
  
.d-block {
    display: block;
}

.d-inline {
    display: inline;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-right-auto {
  margin-left: 0;
  margin-right: auto;
}

.margin-left-auto {
  margin-right: 0;
  margin-left: auto;
}

/*///////////// SUBATOMICS/GENERAL end /////////////*/

/* --------------------------------------------------------- */
