/* --------------------------------------------------------- */
/* 
   _____ _____  _____ _____  
  / ____|  __ \|_   _|  __ \ 
 | |  __| |__) | | | | |  | |
 | | |_ |  _  /  | | | |  | |
 | |__| | | \ \ _| |_| |__| |
  \_____|_|  \_\_____|_____/ 
                             
*/
/* --------------------------------------------------------- */

/*///////////// SUBATOMICS/GRID start /////////////*/

$grid-unit-size: 8px;
$font-size: $grid-unit-size * 2;

html {
    font-size: $font-size; /* 1rem = 16px */
}

/*///////////// SUBATOMICS/GRID end /////////////*/

/* --------------------------------------------------------- */