/* --------------------------------------------------------- */
/* 
  __  __  ____  _____  ______  _____ 
 |  \/  |/ __ \|  __ \|  ____|/ ____|
 | \  / | |  | | |  | | |__  | (___  
 | |\/| | |  | | |  | |  __|  \___ \ 
 | |  | | |__| | |__| | |____ ____) |
 |_|  |_|\____/|_____/|______|_____/ 
                                     
*/
/* --------------------------------------------------------- */

/*///////////// SUBATOMICS/MODES start /////////////*/


$light-mode-background: $slate-050;
$light-mode-text: $off-black;

$dark-mode-background: $slate-950;
$dark-mode-text: $slate-050;

html :has(body.light-mode), body.light-mode {
    background: $light-mode-background;
}

html :has(body.dark-mode), body.dark-mode {
    background: $dark-mode-background;
}

html :has(body.light-mode), body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode h5, body.light-mode h6 {
    color: $black;
}

html :has(body.dark-mode), body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
    color: $white;
}

body.light-mode p, body.light-mode li, body.light-mode pre code, body.light-mode div {
    color: $light-mode-text;
}

body.dark-mode p, body.dark-mode li, body.dark-mode pre code, body.dark-mode div {
    color: $dark-mode-text;
}

body.light-mode hr {
    border-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode hr {
    border-color: hsl(233deg 14% 24% / 42%);;
}

body.light-mode a {
    color: $light-mode-text;
}

body.dark-mode a {
    color: $dark-mode-text;
}

body.light-mode a:hover {
    color: $black;
}

body.dark-mode a:hover {
    color: $white;
}

body.light-mode small {
    color: $black;
}

body.dark-mode small {
    color: $white;
}

body.light-mode pre, body.dark-mode pre {
    background: $light-mode-text;
}

body.light-mode pre code, body.dark-mode pre code {
    color: $white;
}

body.light-mode p code {
    background: $light-mode-text;
    color: $white;
}

body.dark-mode p code {
    background: $off-black;
    color: $butterscotch;
}

/*///////////// SUBATOMICS/MODES end /////////////*/