/* --------------------------------------------------------- */
/* 
    __  __  ____  _____  ______  _____ 
 |  \/  |/ __ \|  __ \|  ____|/ ____|
 | \  / | |  | | |  | | |__  | (___  
 | |\/| | |  | | |  | |  __|  \___ \ 
 | |  | | |__| | |__| | |____ ____) |
 |_|  |_|\____/|_____/|______|_____/ 
                                                                         
*/
/* --------------------------------------------------------- */

/*///////////// SUBATOMICS/MODES start /////////////*/


:root {
    --light-mode-background: var(--slate-050);
    --light-mode-text: var(--black-80pct);
    
    --dark-mode-background: var(--slate-950);
    --dark-mode-text: var(--white-80pct);
}

html :has(body.light-mode), .light-mode {
    background: var(--light-mode-background);
}

html :has(body.dark-mode), .dark-mode {
    background: var(--dark-mode-background);
}

html :has(body.light-mode), .light-mode h1, .light-mode h2, .light-mode h3, .light-mode h4, .light-mode h5, .light-mode h6 {
    color: black;
}

html :has(body.dark-mode), .dark-mode h1, .dark-mode h2, .dark-mode h3, .dark-mode h4, .dark-mode h5, .dark-mode h6 {
    color: white;
}

.light-mode p, .light-mode li, .light-mode pre code, .light-mode div {
    color: var(--light-mode-text);
}

.dark-mode p, .dark-mode li, .dark-mode pre code, .dark-mode div {
    color: var(--dark-mode-text);
}

.light-mode hr {
    border-color: rgba(0, 0, 0, 0.04);
}

.dark-mode hr {
    border-color: hsl(233deg 14% 24% / 42%);
}

.light-mode a:not(.button) {
    color: var(--light-mode-text);
}

.dark-mode a:not(.button) {
    color: var(--dark-mode-text);
}

.light-mode a:not(.button):hover {
    color: black;
}

.dark-mode a:not(.button):hover {
    color: white;
}

.light-mode small {
    color: black;
}

.dark-mode small {
    color: white;
}

.light-mode pre, .dark-mode pre {
    background: var(--light-mode-text);
    border: 1px solid #ffffff3b;
}

.light-mode pre code, .dark-mode pre code {
    color: white;
}

.light-mode p code {
    background: var(--light-mode-text);
    color: white;
}

.dark-mode p code {
    background: var(--off-black);
    color: var(--butterscotch);
}

/*///////////// SUBATOMICS/MODES end /////////////*/