body.site aside {
    padding-left: 2rem;
    position: sticky;
    top: 20px;
    float: left;
    text-decoration: none;
}

pre {
    overflow-x: auto;
}

.sub-sites-container {
    display: grid;
}

aside a {
    font-family: "Figtree", system-ui, sans-serif;
}

.components-demo {
    margin-bottom: 2rem;
}

@media (max-width: 1200px) {
    .components aside {
        display: none !important;
    }
}

div.components-demo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    align-items: start;

}

.components-demo div {
    display: grid;
    grid-template-rows: 30px 80px;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
}

@media (max-width: 900px) {
    div.components-demo {
    grid-template-columns: 1fr;
    gap: 20px;
    }
}
/* PRE */
.tab-container {
    margin-bottom: 1rem;
}

.tabs {
    display: flex;
}

.tabs .tab-button {
    margin: 0;
    width: 90px;
    border-radius: 8px 8px 0 0;
    background-color: var(--accent-color-800);
}
.tabs .tab-button.active {
    background-color: var(--accent-color);
}
.tab-panel {
    display: none;
    max-height: 500px;
}

.tab-panel.active {
    display: block;
}

.tab-button:hover {
    box-shadow: none;
    background-color: var(--accent-color);
}


.indigo-accent {
    --accent-color-h: var(--indigo-h);
    --accent-color-s: var(--indigo-s);
    --accent-color-l: var(--indigo-l);
  }
  
  .raspberry-accent {
    --accent-color-h: var(--raspberry-h);
    --accent-color-s: var(--raspberry-s);
    --accent-color-l: var(--raspberry-l);
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  }