/*///////////// BUTTONS START /////////////*/


button, input[type="submit" i] {
    width: 252px;
    margin: 25px auto -15px;
    border-radius: 4px;
    text-align: center;
    display: block;
    border: 0;
    color: rgba(255,255,255,.7) !important;
    background: #060a24;
    padding: 16px 30px 14px;
    font-size: 14px;
    font-family: 'BiotifMedium', 'Biotif', Helvetica, Arial, sans-serif;
    -webkit-transition: none;
    transition: none;
    text-transform: uppercase;
    letter-spacing: 0.5px !important;
    float: left;
    margin-top: 0;
    width: 220px;
    width: 100%;
    text-decoration: none;
    border: 1px solid #7537f8;
  }
  
  a button {
    text-decoration: none !important;
  }
  
  button i.fa-angle-right {
    font-size: 1rem;
    opacity: 0.45;
    display: block;
    float: right;
    padding-left: 8px;
    margin-top: -1px;
  }
  
  button:hover, button.button-hover, input[type="submit" i] {
    box-shadow: 0 0 10px #ba00ff;
    background: #7537f8;
    color: rgba(255,255,255,1) !important;
  }
  
  button:hover i.fa-angle-right, button.button-hover i.fa-angle-right {
    opacity: 1;
  }
  
  button, input[type="submit" i] {
    max-width: 212px;
  }

/*///////////// BUTTONS END /////////////*/
