pre{
    overflow-x: auto;
}
.sub-sites-container {
    display: grid;
}

/*///////////Media queries///////////*/
/* mobile */
@media (max-width: 768px) {
    main.sub-sites {
        padding-inline: 15px;
    }
}

/* desktop */
@media (min-width: 768px) {
    .sub-sites-container {
        justify-items: unset;
        grid-template-columns: minmax(200px, 300px) auto;
        grid-template-rows: auto;
        grid-template-areas: 'header main';
    }

    main.sub-sites {
        width: clamp(350px, 760px, 61vw);
    }

    body.site aside{
        display: flex;
        position:sticky;
        flex-direction: column;
        padding: 20px;
        width: 250px;
        height: 100vh;
        top: 0px;
        right: unset;
    }
    
}


html {
    scroll-behavior: smooth;
  }

header {
    position: relative;
    align-items: center;
    z-index: 5;
    border-top: 12px solid #1f8df0;
}

img#logo {
    height: 50px;
}

@media (min-width: 769px) {
    .nav-links {
        position: relative;
        z-index: 4;
        display: flex;
        gap: 15px;
        border-radius: 200px;
    }
}

.hellobar {
    border-bottom: unset;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.hellobar .container{
    gap: 0px;
    row-gap: 8px;
    column-gap: 35px;
}

@media (max-width: 768px) {
        .hellobar {
            height: 80px;
        }
    }

nav button{
    all: unset;
}



/*  _   _    ___     _____ ____    _  _____ ___ ___  _   _  */
/* | \ | |  / \ \   / /_ _/ ___|  / \|_   _|_ _/ _ \| \ | | */
/* |  \| | / _ \ \ / / | | |  _  / _ \ | |  | | | | |  \| | */
/* | |\  |/ ___ \ V /  | | |_| |/ ___ \| |  | | |_| | |\  | */
/* |_| \_/_/   \_\_/  |___\____/_/   \_\_| |___\___/|_| \_| */
/* The navigation bar ------------------------------------- */

.nav-links.position-fixed,
.nav-buttons, #nav-buttons {
    position: fixed;
    background: #070924a8;;
    backdrop-filter: blur(10px);
    z-index: 5;
    border: 1px solid #377bf850;
}

.nav-links a,
.nav-links a:hover {
    text-decoration: none;
}


a.current-page {
    opacity: .4;
}

.current-page:hover {
    color: hsl(206, 23%, 94%) !important;

}

.nav-links a:not(.current-page) {
    opacity: .8;
}

.nav-links a:not(.current-page):hover {
    opacity: 1;
}

/* hello-nav mediaqueries */
/* mobile */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        position: fixed;
        backdrop-filter: blur(10px);
        top: 0;
        right: 0px;
        padding-top: 100px;
        padding-bottom: 100vh;
        width: 100%;
        z-index: 4;
        display: none;
        text-align: left;
        font-family: 'BiotifBold', helvetica, arial, sans-serif;
        font-weight: 700;
        background-color: #000000b8;
    }

    .nav-buttons {
        padding: 7px 8px;
        border-radius: 12px;
        right: 15px;
        top: 125px;
    }

    body.landing-page .nav-buttons {
        top: 18px;
    }

    .nav-links.open-nav+.nav-buttons {
        top: 18px !important;
    }

    .hamburger svg {
        fill: #1d272c;
    }

    .nav-hamburger {
        display: flex;
    }

    .nav-links a {
        padding-left: 20px;
        font-size: 8vw;
        padding: 14px 16px;
        color: #12123a;
    }

    .nav-links a:not(.current-page) {
        opacity: 1;
    }


    .nav-close {
        z-index: 4;
        display: none;
    }

    .nav-links.open-nav {
        display: grid !important;
        position: fixed;
    }

    body:has(.nav-links.open-nav) {
        overflow: hidden;
    }

    .nav-links.open-nav+.nav-buttons :is(.nav-hamburger) {
        display: none;
    }

    .nav-links.open-nav+.nav-buttons :is(.nav-close) {
        display: block;
    }

    .nav-links.open-nav+.nav-buttons {
        background: none;
        backdrop-filter: unset;
        border: none;
    }

    .nav-links.open-nav+#nav-buttons {
        background: none;
        backdrop-filter: unset;
        border: none;
    }
}


/* hello-nav desktop */
@media (min-width: 769px) {
    .nav-buttons {
        display: none;
    }

    .nav-links {
        position: relative;
        z-index: 4;
        display: flex;
        gap: 15px;
        border-radius: 200px;
    }

    .nav-links.position-fixed {
        top: 20px;
        right: 15px;
        padding: 15px 28px;
    }
}

/* END of navigation bar ----------------- */

/* BUTTONs to add to their own section */
button, a.button {
    box-shadow: unset
}
.secondary-button {
    background-color: hsl(259, 100%, 19%); /*indigo900*/
    box-shadow: 0 0 4px hsl(208, 100%, 53%), inset 0 0 0 4px hsla(234, 61%, 6%, 0.6);
}

.cta-button {
    box-shadow: 0 0 4px hsl(208, 100%, 53%), inset 0 0 0 4px hsla(234, 61%, 6%, 0.6);
}

.small-button {
    height: 35px;

}

body.site header div {
    position: relative;
    left: unset;
}

@media (max-width: 768px) {
    body.site nav {
      display: flex;
    }
  }


  /* PLAYGROUND */

  div.components-demo {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: end;

  }

  .components-demo div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
  }
 
  /* data-button-icon */
/* LEFT */
  [data-button-icon]::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 8px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
}

[data-button-icon="phone"]::before {
    background-image: url(../../imgs/icons/phone-call.svg);
    filter:none;
    margin-block: -8px;
}
/* RIGHT */

[data-button-arrow]::after {
    content: '';
    background-image: url(/imgs/icons/arrow-right-fill.svg);
    background-repeat: no-repeat;
    display: inline-block;
    opacity: .8;
}

[data-button-arrow]::after {
    height: 10px;
    width: 18px;
    margin-left: 6px;
}

.small-button[data-button-arrow]::after {
    height: 8px;
    width: 13px;
    margin-left: 4px;
}

[data-button-arrow]:hover::after {
    animation: moveArrow 1s ease-out infinite;
    opacity: 1;
}

@keyframes moveArrow {
    0% {
        transform: translateX(0);
    }
    70% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(10px);
    }
}

/* data-button-arrow-up */

[data-button-arrow-up]::before,
[data-button-arrow-up]::after {
    content: url(/imgs/icons/arrow-up-fill.svg);
    display: inline-block;
    opacity: .8;
    animation: moveArrow-up 1s ease-out infinite;
    height: 16px;
    width: 9px;
}

[data-button-arrow-up]::before {
    margin-right: 10px;
}

[data-button-arrow-up]::after {
    margin-left: 10px;
}

[data-button-arrow-up]:hover::before,
[data-button-arrow-up]:hover::after {
    opacity: 1;
}

@keyframes moveArrow-up {
    0% {
        transform: translatey(0px);
    }
    70% {
        transform: translatey(-5px);
    }
    100% {
        transform: translatey(-5px);
    }
}

/* PRE */
.tab-container {
    margin-bottom: 1rem;
}
.tabs {
    display: flex;
    margin-bottom: 10px;
    gap: 10px;
}
.tabs button {
    margin: 0;
    width: 90px;
    border-radius: 8px;
}

.tab-panel {
    display: none;
}
.tab-panel.active {
    display: block;
}