@charset "UTF-8";
/*

  ____       _       _    _ _   
 |  _ \ ___ | |_   _| | _(_) |_ 
 | |_) / _ \| | | | | |/ / | __|
 |  __/ (_) | | |_| |   <| | |_ 
 |_|   \___/|_|\__, |_|\_\_|\__|
               |___/                                           

    version: 0.1

    url: polykit.xyz

*/
/* 01-SUBATOMICS */
/* all CSS code that is not directly aplied to single HTML elements */
/*///////////// BASE/_RESET start /////////////*/
/* Based on this article https://andy-bell.co.uk/a-modern-css-reset/ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*///////////// BASE/_RESET end /////////////*/
/*///////////// BASE/_BASE start /////////////*/
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

/*///////////// BASE/_BASE end /////////////*/
/*///////////// BASE/_GRID start /////////////*/
html {
  font-size: 16px; /* 1rem = 16px */
}

/*///////////// BASE/_GRID end /////////////*/
/* --------------------------------------------------------- */
/*
   _____      _                
  / ____|    | |               
 | |     ___ | | ___  _ __ ___ 
 | |    / _ \| |/ _ \| '__/ __|
 | |___| (_) | | (_) | |  \__ \
  \_____\___/|_|\___/|_|  |___/

*/
/* --------------------------------------------------------- */
/* LIGHTNESS */
/* Black */
/* #000000 */
/* #1C1C1C */
/* Gray */
/* #7B7B7C */
/* #4C4C4C */
/* White */
/* #FFFFFF */
/* #F9FAFB */
/* Slate */
/* #ECF0F3 */
/* #D5D9DD */
/* #BEC2C7 */
/* #A7AAB2 */
/* #90939C */
/* #797C86 */
/* #626570 */
/* #4B4E5A */
/* #343645 */
/* #1D1F2F */
/* #060819 */
/* --------------------------------------------------------- */
/* HUES */
/* --------------------------------------------------------- */
body.light-mode {
  background: hsl(206, 23%, 94%);
}

body.dark-mode {
  background: hsl(234, 61%, 6%);
}

body.light-mode h1, body.light-mode h2, body.light-mode h3, body.light-mode h4, body.light-mode h5, body.light-mode h6 {
  color: hsl(0, 0%, 0%);
}

body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, body.dark-mode h4, body.dark-mode h5, body.dark-mode h6 {
  color: hsl(0, 0%, 100%);
}

body.light-mode p, body.light-mode li, body.light-mode pre code {
  color: hsl(0, 0%, 11%);
}

body.dark-mode p, body.dark-mode li, body.dark-mode pre code {
  color: hsl(206, 23%, 94%);
}

body.light-mode hr {
  border-color: rgba(0, 0, 0, 0.1);
}

body.dark-mode hr {
  border-color: hsl(233, 14%, 24%);
}

body.light-mode a {
  color: hsl(0, 0%, 11%);
}

body.dark-mode a {
  color: hsl(206, 23%, 94%);
}

body.light-mode a:hover {
  color: hsl(0, 0%, 0%);
}

body.dark-mode a:hover {
  color: hsl(0, 0%, 100%);
}

body.light-mode small {
  color: hsl(0, 0%, 0%);
}

body.dark-mode small {
  color: hsl(0, 0%, 100%);
}

body.light-mode pre, body.dark-mode pre {
  background: hsl(0, 0%, 11%);
}

body.light-mode pre code, body.dark-mode pre code {
  color: hsl(0, 0%, 100%);
}

body.light-mode p code {
  background: hsl(0, 0%, 11%);
  color: hsl(0, 0%, 100%);
}

body.dark-mode p code {
  background: hsl(206, 23%, 94%);
  color: hsl(0, 0%, 0%);
}

/* 02-ATOMS */
/* everything that has an HTML element tag */
/*///////////// BASE/_CONTAINERS start /////////////*/
.container {
  width: calc(100% - 30px);
  max-width: 790px;
  margin: 0 auto;
  padding: auto 15px;
}

/*///////////// BASE/_CONTAINERS end /////////////*/
/*///////////// BASE/_TYPOGRAPHY start /////////////*/
* {
  font-kerning: normal;
  text-wrap: balance;
}

/* font families */
* {
  font-family: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

p, p a, li, p strong, p span, li strong, th, td {
  font-family: "Lora", serif;
}

button, a.button {
  font-family: "Figtree", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

pre, code, pre code, pre code span {
  font-family: "Anonymous Pro", monospace;
}

/* text alignment */
.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: left;
}

/* text variations */
.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

/* text highlight */
::-moz-selection {
  background: hsl(208, 90%, 50%);
  color: hsl(0, 0%, 100%);
}

::selection {
  background: hsl(208, 90%, 50%);
  color: hsl(0, 0%, 100%);
}

/* text ligatures */
h1, h2, h3, h4, h5, button, a.button, a small, small {
  font-variant-ligatures: discretionary-ligatures;
  -moz-font-feature-settings: "kern", "liga", "calt";
  -ms-font-feature-settings: "kern", "liga", "calt";
  -webkit-font-feature-settings: "kern", "liga", "calt";
  font-feature-settings: "kern", "liga", "calt";
}

p, p a, li, p strong, p span, li strong {
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

/* links */
a {
  text-decoration: none;
}

p a, li a, small a, a small {
  border-bottom: 2px solid hsla(208, 90%, 50%, 0.5);
}

p a:hover, li a:hover, small a:hover, a:hover small {
  border-bottom: 2px solid hsl(208, 90%, 50%);
}

/* text styles */
.title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-weight: 800;
}

/*
.title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
    font-size: 2.25rem;
    line-height: 2.375rem;
    font-weight: 800;
    margin-top: 1rem;
    padding-top: 2rem;
}
*/
h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
  font-size: 2rem;
  line-height: 2.25rem;
  margin-top: 0;
  margin-bottom: 2.5rem;
  font-weight: 800;
}

h2, .heading-2, h1.heading-2, h2.heading-2, h3.heading-2, h4.heading-2, h5.heading-2, h6.heading-2 {
  font-size: 1.6rem;
  line-height: 2rem;
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 700;
}

h3, .heading-3, h1.heading-3, h2.heading-3, h3.heading-3, h4.heading-3, h5.heading-3, h6.heading-3 {
  font-size: 1.375rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.75rem;
  font-weight: 700;
}

h4, .heading-4, h1.heading-4, h2.heading-4, h3.heading-4, h4.heading-4, h5.heading-4, h6.heading-4 {
  font-size: 1.25rem;
  line-height: 1.375rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font-weight: 700;
}

p, p a, li, p strong, p span, li strong, th, td {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 2rem;
}

pre, code, pre code {
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
}

small, h1.caption, h2.caption, h3.caption, h4.caption, h5.caption, h6.caption {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

small {
  display: block;
}

/*///////////// BASE/_TYPOGRAPHY end /////////////*/
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "•"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: hsl(208, 90%, 50%); /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

button, a.button {
  background: hsl(208, 90%, 50%);
  color: hsl(0, 0%, 100%) !important;
  padding: 0.75rem 1.5rem;
  border-radius: 80px;
  text-decoration: none;
  letter-spacing: 0.5px;
  font-weight: 600 !important;
  box-shadow: 0 0 2px hsl(208, 90%, 50%);
  display: flex;
  width: 240px;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  cursor: pointer;
}

a.button {
  border-bottom: none;
}

button:hover, a.button:hover {
  box-shadow: 0 0 10px hsl(208, 90%, 50%);
}

button i.icon {
  margin-right: 2.5rem;
}

hr {
  margin: 4rem 0;
  border-width: 2px;
}

pre {
  padding: 2rem 1rem;
  border-radius: 4px;
}

p code {
  padding: 0.25rem 0.5rem;
  border-radius: 2px;
}

/* 03-MOLECULES */
/* molecules are groups of atoms bonded together and are the smallest fundamental units of a compound. */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

nav a:hover {
  border-bottom: 2px solid hsl(208, 90%, 50%);
}

/* 04-ORGANISMS */
header div {
  position: absolute;
  left: calc(50vw - 40px);
}

/* 05-TEMPLATES */
/* 06-PAGES */
html {
  background: hsl(234, 61%, 6%);
}

body.site {
  background: url("../../imgs/site/grid-pattern.png") no-repeat top center fixed;
  background-size: unset;
}

body.site h2 strong {
  background: hsl(208, 90%, 50%);
  padding: 0 0.25rem;
}

body.site header {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
}

.type-demo-margin {
  width: 100%;
  background: rgba(0, 255, 255, 0.4);
}

.type-demo-padding {
  width: 100%;
  background: rgba(0, 255, 255, 0.4);
}

/* TITLE-1 */
.title-1-demo .type-demo-margin-top {
  height: 0rem;
}

.title-1-demo .type-demo-padding-top {
  height: 3rem;
}

.title-1-demo .type-demo-margin-bottom {
  height: 2.5rem;
}

/* HEADING-1 */
.heading-1-demo .type-demo-margin-top {
  height: 0rem;
}

.heading-1-demo .type-demo-padding-top {
  height: 3rem;
}

.heading-1-demo .type-demo-margin-bottom {
  height: 2.5rem;
}

/* HEADING-2 */
.heading-2-demo .type-demo-margin-top {
  height: 0rem;
}

.heading-2-demo .type-demo-padding-top {
  height: 2.5rem;
}

.heading-2-demo .type-demo-margin-bottom {
  height: 2rem;
}

/* HEADING-3 */
.heading-3-demo .type-demo-margin-top {
  height: 0rem;
}

.heading-3-demo .type-demo-padding-top {
  height: 2rem;
}

.heading-3-demo .type-demo-margin-bottom {
  height: 2rem;
}

/* HEADING-4 */
.heading-4-demo .type-demo-margin-top {
  height: 0rem;
}

.heading-4-demo .type-demo-padding-top {
  height: 2rem;
}

.heading-4-demo .type-demo-margin-bottom {
  height: 2rem;
}

/* P */
.p-demo .type-demo-margin-top {
  height: 0rem;
}

.p-demo .type-demo-padding-top {
  height: 0rem;
}

.p-demo .type-demo-margin-bottom {
  height: 2rem;
}

/* SMALL */
.small-demo .type-demo-margin-top {
  height: 0rem;
}

.small-demo .type-demo-padding-top {
  height: 0rem;
}

.small-demo .type-demo-margin-bottom {
  height: 0rem;
}

main.demo {
  padding-top: 7rem;
}

/* Temporary fix for responsive styles */
@media (max-width: 768px) {
  body.site nav, body.site aside {
    display: none;
  }
}
body.site div.two-col {
  display: flex;
  gap: 40px;
}

@media (max-width: 768px) {
  body.site div.two-col {
    flex-direction: column;
  }
}
body.site aside {
  padding-left: 2rem;
  position: fixed;
}

body.site aside ul {
  padding-left: 0;
}

body.site aside ul ul {
  padding-left: 1.5rem;
}

body.site aside {
  float: left;
}

body.site aside ul li::before {
  display: none;
}

body.site aside ul li a {
  border-bottom: none;
  font-size: 1rem;
  line-height: 1rem;
}

body.site aside ul ul {
  opacity: 0.6;
  padding-left: 1.25rem;
}