/*///////////// BASE/_CONTAINERS start /////////////*/


.container {
    width: calc(100% - 30px);
    max-width: 790px;
    margin: 0 auto;
    padding: auto 15px;
}
  

/*///////////// BASE/_CONTAINERS end /////////////*/