html {
    background: $slate-950;
}

body.site {
    background: url('../../imgs/site/grid-pattern.png') no-repeat top center fixed;
    background-size: unset;
}

body.site h2 strong {
    background: $primary-color;
    padding: 0 0.25rem;
}

body.site header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.type-demo-margin {
    width: 100%;
    background: rgba(0, 255, 255, 0.4);
}

.type-demo-padding {
    width: 100%;
    background: rgba(0, 255, 255, 0.4);
}


/* TITLE-1 */

.title-1-demo .type-demo-margin-top {
    height: 0rem;
}

.title-1-demo .type-demo-padding-top {
    height: 3rem;
}

.title-1-demo .type-demo-margin-bottom {
    height: 2.5rem;
}

/* HEADING-1 */

.heading-1-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-1-demo .type-demo-padding-top {
    height: 3rem;
}

.heading-1-demo .type-demo-margin-bottom {
    height: 2.5rem;
}

/* HEADING-2 */

.heading-2-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-2-demo .type-demo-padding-top {
    height: 2.5rem;
}

.heading-2-demo .type-demo-margin-bottom {
    height: 2rem;
}


/* HEADING-3 */

.heading-3-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-3-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-3-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* HEADING-4 */

.heading-4-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-4-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-4-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* P */

.p-demo .type-demo-margin-top {
    height: 0rem;
}

.p-demo .type-demo-padding-top {
    height: 0rem;
}

.p-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* SMALL */

.small-demo .type-demo-margin-top {
    height: 0rem;
}

.small-demo .type-demo-padding-top {
    height: 0rem;
}

.small-demo .type-demo-margin-bottom {
    height: 0rem;
}

main.demo {
    padding-top: 7rem;
}