/* --------------------------------------------------------- */
/* 

*/
/* --------------------------------------------------------- */

html {
    background: $slate-950;
}

body.site {
    background: url('../../imgs/site/grid-pattern.png') no-repeat top center fixed;
    background-size: unset;
}

body.site h2 strong {
    background-image: $blue-gradient;
    padding: 0 0.25rem;
}

body.site header {
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: flex-start;
}

.type-demo-margin {
    width: 100%;
    background: $blue-10pct;
}

.type-demo-padding {
    width: 100%;
    background: $blue-10pct;
}


/* TITLE-1 */

.title-1-demo .type-demo-margin-top {
    height: 0rem;
}

.title-1-demo .type-demo-padding-top {
    height: 3rem;
}

.title-1-demo .type-demo-margin-bottom {
    height: 2.5rem;
}

/* HEADING-1 */

.heading-1-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-1-demo .type-demo-padding-top {
    height: 3rem;
}

.heading-1-demo .type-demo-margin-bottom {
    height: 2.5rem;
}

/* HEADING-2 */

.heading-2-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-2-demo .type-demo-padding-top {
    height: 2.5rem;
}

.heading-2-demo .type-demo-margin-bottom {
    height: 2rem;
}


/* HEADING-3 */

.heading-3-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-3-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-3-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* HEADING-4 */

.heading-4-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-4-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-4-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* P */

.p-demo .type-demo-margin-top {
    height: 0rem;
}

.p-demo .type-demo-padding-top {
    height: 0rem;
}

.p-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* SMALL */

.small-demo .type-demo-margin-top {
    height: 0rem;
}

.small-demo .type-demo-padding-top {
    height: 0rem;
}

.small-demo .type-demo-margin-bottom {
    height: 0rem;
}

main.demo {
    padding-top: 7rem;
}

/* Temporary fix for responsive styles */

@media (max-width: 768px) {
    body.site nav, body.site aside {
        display: none;
    }
}


body.site div.two-col {
    display: flex;
    gap: 40px;
}

@media (max-width: 768px) {
    body.site div.two-col {
        flex-direction: column;
    }
}


body.site aside {
    padding-left: 2rem;
    position: fixed;
}

body.site aside ul {
    padding-left: 0;
}

body.site aside ul ul {
    padding-left: 1.5rem;
}

body.site aside {
    float: left;
}

body.site aside ul li::before {
    display: none;
}

body.site aside ul li a {
    border-bottom: none;
    font-size: 1rem;
    line-height: 0;
}

body.site aside ul ul {
    opacity: 0.6;
    padding-left: 1.25rem;
}

body.site div.color-wrapper {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

body.site div.color-swatches-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

body.site div.color-swatches-container div {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

body.site div.color-swatch {
    height: 120px;
    width: 80px;
    display: block;
    border-radius: 4px;
}


div.color-swatch.blue-100 {
    background: $blue-100;
}

div.color-swatch.blue-200 {
    background: $blue-200;
}

div.color-swatch.blue-300 {
    background: $blue-300;
}

div.color-swatch.blue-400 {
    background: $blue-400;
}

div.color-swatch.blue-500 {
    background: $blue-500;
}

div.color-swatch.blue-600 {
    background: $blue-600;
}

div.color-swatch.blue-700 {
    background: $blue-700;
}

div.color-swatch.blue-800 {
    background: $blue-800;
}

div.color-swatch.blue-900 {
    background: $blue-900;
}

div.color-swatch.blue-90pct {
    background: $blue-90pct;
}

div.color-swatch.blue-80pct {
    background: $blue-80pct;
}

div.color-swatch.blue-70pct {
    background: $blue-70pct;
}

div.color-swatch.blue-60pct {
    background: $blue-60pct;
}

div.color-swatch.blue-50pct {
    background: $blue-50pct;
}

div.color-swatch.blue-40pct {
    background: $blue-40pct;
}

div.color-swatch.blue-30pct {
    background: $blue-30pct;
}

div.color-swatch.blue-20pct {
    background: $blue-20pct;
}

div.color-swatch.blue-10pct {
    background: $blue-10pct;
}

div.color-swatch.blue-gradient-start {
    background: $blue-gradient-start;
}

div.color-swatch.blue-gradient-end {
    background: $blue-gradient-end;
}

div.color-swatch.blue-gradient {
    background-image: linear-gradient(45deg, $blue-gradient-start, $blue-gradient-end);
}

div.components-demo {
    display: flex;
    padding: 2rem;
    background-color: $black; 
}

/* --------------------------------------------------------- */
