.hellobar {
    margin-top: 0;
    padding: 12px 15px 14px;
    text-align: center;
    background: #033c6e;
    border-bottom: 8px solid #1f8df0;
    color: white;
}

.hellobar .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

body:has(.hellobar) {
    border-top: none;
}