.hellobar {
    margin-top: 0;
    padding: 8px 15px;
    text-align: center;
    background: var(--accent-color-900);
    border-bottom: 2px solid var(--accent-color-30pct);
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 8px;
    position: relative;
    z-index: 900;
}

.hellobar-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

@media screen and (min-width: 768px) {
    .hellobar-container {
        flex-direction: row;
    }
}

.hellobar .button {
    margin: 0;
}