html,
body {
    background: #ecf0f3;
}

body {
    border-top: 12px solid #7637f9;
}

* {
    font-family: BiotifMedium;
}

.BiotifMedium {
    font-family: BiotifMedium;
}

.BiotifBold {
    font-family: BiotifBold;
}

.BiotifExtraBold {
    font-family: BiotifExtraBold;
}

* {
    color: #4f4f58;
}

h1,
h2,
h3,
h4,
h5,
strong {
    color: #12123a;
}

p,
p a,
li,
li a,
p strong,
p span,
li strong {
    font-family: 'freight-text-pro', serif;
}

p strong,
li strong {
    font-family: 'FreightTextProSemibold', serif;
}

a {
    color: #4f4f58;
    position: relative;
    width: max-content;
}

a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #7537f8;
    bottom: -2px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

body nav {
    position: fixed;
    /* display: flex; */
    display: none;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    background-color: white;
    width: 240px;
    height: 100vh;
    border-top: 12px solid #7637f9;
    top: 0;
    right: 0px;
    transition: right .3s ease-in-out;
    z-index: 10;
}

.hamburger {
    z-index: 700;
    position: fixed;
    padding: 0;
    right: 12px;
    top: 32px;
    background-color: #ffffff;
    border-color: transparent;
    border-radius: 18px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close {
    z-index: 700;
    position: fixed;
    padding: 0;
    right: 12px;
    top: 32px;
    background-color: #ffffff;
    border-color: transparent;
    border-radius: 18px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: none;
}

.open-nav {
    display: flex;
}

.close-nav {
    display: none;
}

nav h2 {
z-index: 11;
}



body main {
    padding-top: 20px;
    margin-inline: 20px;
}

nav ul {
    list-style: none;
}

nav ul ul {
    margin-left: 20px;
}

ul.spaced-list li {
    margin-bottom: 1rem;
}

ul.arrow-bullet {
    list-style-image: url(../../imgs/arrow-right.svg);
}

a.web-url {
    display: flex;
    align-items: center;
    flex-direction: row;
}

img.web-icon {
    height: 25px;
    margin-right: 8px;
    margin-top: -2px;
}

a img.external-url-icon,
a img.web-icon {
    opacity: 0.6;
}

a:hover img.external-url-icon,
a:hover img.web-icon {
    opacity: 1;
}

main section.cover {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* main div#cover div#cover-image {
    display: flex;
    align-items: center;
} */

nav ul li a {
    font-family: BiotifMedium;
    text-transform: none !important;
    letter-spacing: 0.2px !important;
}

/* active navbar item */
#navbar a.active {
    color: black;
    border-bottom: 2px solid #7537f8;
}


/* media queries */

@media (max-width: 426px) {      
    .plfn-logo {
        align-self: flex-start;
        width: 77%;
    }
    .hamburger {
        top: 47px;
    }
}
@media (max-widh: 768px){
    body nav {
        padding-bottom: 100vh;
    }
}
@media (min-width: 768px) {
    body nav {
        position: fixed;
        display: flex;
        flex-direction: column;
        gap: 0;
        padding: 20px;
        background-color: white;
        width: 300px;
        height: 100vh;
        border-top: 12px solid #7637f9;
        top: 0;
        right: unset;
    }

    body main {
        width: 760px;
        left: 400px;
        position: absolute;
        padding-top: 60px;
        margin-inline:unset;

    }

    button.hamburger {
        display: none;
    }

    main section.cover {
        display: grid;
        align-items: center;
        grid-template-columns: auto 220px;
        grid-template-rows: auto auto auto;
        gap: 0px;
    }
    section.cover img:first-of-type {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    section.cover img+img {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: end;
    }
    section.cover h1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    section.cover h2{
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        line-height: 30px;
        margin-top: 20px;
    }
}