button, a.button {
    background: $primary-color;
    color: $white !important;
    padding: 0.5rem 1.5rem;
    border-radius: 80px;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-weight: 600 !important;
}

a.button {
    border-bottom: none;
}