/* --------------------------------------------------------- */
/*
  ____  _    _ _______ _______ ____  _   _  _____ 
 |  _ \| |  | |__   __|__   __/ __ \| \ | |/ ____|
 | |_) | |  | |  | |     | | | |  | |  \| | (___  
 |  _ <| |  | |  | |     | | | |  | | . ` |\___ \ 
 | |_) | |__| |  | |     | | | |__| | |\  |____) |
 |____/ \____/   |_|     |_|  \____/|_| \_|_____/                                                  
*/
/* --------------------------------------------------------- */

/*///////////// ATOMS/BUTTONS start /////////////*/

button, a.button, input.button {
    background-image: $accent-gradient;
    color: $white;
    padding: 1rem 1.4rem;
    border-radius: 900px;
    text-decoration: none;
    letter-spacing: 0.5px;
    box-shadow: 0 0 4px $accent-color, inset 0 0 0 4px $slate-950-60pct;
    display: flex;
    width: 240px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    cursor: pointer;
    border: none;
    text-decoration: none;
    transition: 0s;
}

a.button {
    border-bottom: none;
}

button:hover, a.button:hover, input.button:hover {
    box-shadow: 0 0 4px 4px $accent-color, inset 0 0 0 4px $slate-950;
    text-decoration: none;
    transition: 0s;
}

button i.icon {
    margin-right: 2.5rem;
}

button.large-button, a.large-button, input.large-button  {
    padding: 1.25rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 260px;
}

button.small-button, a.small-button, input.small-button  {
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 180px;
}

button.secondary-button, a.secondary-button, input.secondary-button {
    background-image: none !important;
    background-color: $slate-950-70pct;
    border: 3px solid $accent-color;
}

button.secondary-button:hover, a.button.secondary-button:hover, input.button.secondary-button:hover {
    background-image: none !important;
    box-shadow: 0 0 10px $accent-color;
    background-color: $accent-color;
}

/*///////////// ATOMS/BUTTONS end /////////////*/

/* --------------------------------------------------------- */