/* --------------------------------------------------------- */
/* 

*/
/* --------------------------------------------------------- */

pre {
    padding: 2rem 1rem;
    border-radius: 4px;
}

p code {
    padding: 0.25rem 0.5rem;
    border-radius: 2px;
}

/* --------------------------------------------------------- */
