/* --------------------------------------------------------- */
/* 



*/
/* --------------------------------------------------------- */


/* hashtag for help channel */
.slack-logo {
    width: 20px;
    height: auto;
    margin-right: 2px;
}


/* data icons => data-icon | data-emoji<⚓> | data-marker | data-before<span||a> */

/* li icons for team-wiki */
li[data-icon]:before{
    display: none
}

[data-icon="clockify"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/clockify.svg);
}

[data-icon="slack"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/slack.svg);
}

[data-icon="drive"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/drive.svg);
}

[data-icon="figma"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/figma.svg);
}

[data-icon="github"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/github.svg);
}

[data-icon="namecheap"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/namecheap.svg);
}

[data-icon="1password"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/1password.svg);
}

[data-icon="atlassian"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/atlassian.svg);
}

[data-icon="jira"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/jira.svg);
}

[data-icon="confluence"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/confluence.svg);
}

[data-icon="trello"] {
    list-style-image: url(https://thepolyfengroup.com/imgs/icons/bullets/trello.svg);
}

/* data-types para poner EMOJIS en elementos (<span> || <a>)::before */

[data-emoji="anchor"]::before {
    content: "⚓";
    display: inline-block;
    text-decoration: none;
}

[data-emoji="link"]::before {
    content: "🔗";
    display: inline-block;
    text-decoration: none;
}

[data-emoji="megaphone"]::before {
    content: "📣";
    display: inline-block;
    text-decoration: none;
}


/* bullets markers for -"4.2 channels" on /teamwiki */

/* li{list-style-type:"🌴" == li:market{content:"🌴" */

/*general*/
.emoji-marker li::before {
    display: none;
}

.wiki-team_messaging-general li:nth-of-type(1)::marker {
    content: "📣";
}

.wiki-team_messaging-general li:nth-of-type(2)::marker {
    content: "🙋";
}

.wiki-team_messaging-general li:nth-of-type(3)::marker {
    content: "🌴";
}

.wiki-team_messaging-general li:nth-of-type(4)::marker {
    content: "👨‍💻";
}
.wiki-team_messaging-general li:nth-of-type(5)::marker {
    content: "🚀";
}

/*education*/
.wiki-team_messaging-education li:nth-of-type(1)::marker {
    content: "🎨";
}

.wiki-team_messaging-education li:nth-of-type(2)::marker {
    content: "📐";
}

/* DATA-BEFORE*/
/* data-types para poner .SVG::before a elementos (<span> || <a>) */
[data-before]::before {
    content: "";
    display: inline-block;
    position: relative;
    top: 4px;
    text-decoration: none;
    height: 25px;
    width: 27px;
    background-size: contain;
    background-repeat: no-repeat;
}

[data-before="plfn"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polyfen-icon.svg);
}

[data-before="plkt"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polykit-icon.svg);
}

[data-before="plqr"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polyqwerty-icon.svg);
}

[data-before="plat"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polyatlas-icon.svg);
}

[data-before="plck"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polycookies-icon.svg);
}
/* others */
[data-before="github"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/bullets/github.svg);
}
[data-before="slack"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/bullets/slack.svg);
}
[data-before="wise"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/bullets/wise.svg);
}
[data-before="drive"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/bullets/drive.svg);
}
[data-before="bh"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/BH.svg);
}

/* data-types para poner .SVG 'as a ::marker' en los <li> */
/* DATA-MARKER !!! */
ul:has(li[data-marker]) {
    list-style: none;
}

li[data-marker] {
    position: relative;
}


[data-marker]::before {
    content: "";
    position: absolute;
    top: 5px;
    height: 25px;
    width: 27px;
    text-decoration: none;
    background-size: contain;
    background-repeat: no-repeat;
}

[data-marker="plfn"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polyfen-icon.svg);
}

[data-marker="plat"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polyatlas-icon.svg);
}

[data-marker="plqr"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polyqwerty-icon.svg);
}

[data-marker="plck"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polycookies-icon.svg);
}

[data-marker="plkt"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polykit-icon.svg);
}

[data-marker="plpr"]::before {
    background-image: url(https://thepolyfengroup.com/imgs/icons/brand-icons/polypress-icon.svg);
}

.icon-container {
    width: 70px;
    height: 70px;
    background-image: var(--accent-color-gradient);
    border-radius: 6px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}