/* --------------------------------------------------------- */

hr {
    margin-block: 3rem;
    border-width: 1px;
    border-style: dashed;
    width: calc(100% - 2rem);
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    border-color: var(--accent-color-30pct);
}

.half-separator {
    margin-block: 1.5rem;
}

@media (min-width: 900px) {
    hr {
        margin-block: 6rem;
    }
    .half-separator {
        margin-block: 3rem;
    }
}

.secondary-separator {
    max-width: 300px;
}

hr.vertical-hr {
    width: unset;
}



/* --------------------------------------------------------- */