/* --------------------------------------------------------- */
/* 

*/
/* --------------------------------------------------------- */

hr {
    margin: 4rem 0;
    border-width: 2px;
    border-style: solid;
}

hr.secondary-separator {
    margin: 4rem 6rem;
}