/* --------------------------------------------------------- */

hr {
    margin: 6rem 0;
    border-width: 1px;
    border-style: solid;
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
}


/* --------------------------------------------------------- */