/* --------------------------------------------------------- */
/* 

*/
/* --------------------------------------------------------- */
/*///////////// BASE/_TYPOGRAPHY start /////////////*/

* {
    font-kerning: normal;
    text-wrap: balance;
}

/* font families */

* {
    font-family: $captions-font-family, $sans-fallback-fonts;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $display-font-family, $sans-fallback-fonts;
}

p, p a, li, p strong, p span, li strong, th, td {
    font-family: $body-text-font-family, $serif-fallback-fonts;
}

button, a.button {
    font-family: $captions-font-family, $sans-fallback-fonts;
}

pre, code, pre code, pre code span {
    font-family: $mono-font-family, monospace;
}


/* text alignment */

.align-center {
    text-align: center;
}
  
.align-left {
    text-align: left;
}

.align-right {
    text-align: left;
}

/* text variations */

.uppercase {
    text-transform: uppercase;
}

.italic {
    font-style: italic;
}

/* text highlight */

::-moz-selection {
    background: $accent-color;
    color: $white;
}

::selection {
    background: $accent-color;
    color: $white;
}

/* text ligatures */

h1, h2, h3, h4, h5, button, a.button, a small, small {
    font-variant-ligatures: discretionary-ligatures;
    -moz-font-feature-settings: "kern","liga","calt";
    -ms-font-feature-settings: "kern","liga","calt";
    -webkit-font-feature-settings: "kern","liga","calt";
    font-feature-settings: "kern","liga","calt";
}

p, p a, li, p strong, p span, li strong {
    -moz-font-feature-settings: "kern","liga","clig","calt";
    -ms-font-feature-settings: "kern","liga","clig","calt";
    -webkit-font-feature-settings: "kern","liga","clig","calt";
    font-feature-settings: "kern","liga","clig","calt";
}

/* links */

a {
    text-decoration: none;
}

p a, li a, small a, a small {
    border-bottom: 2px solid $accent-color-50pct;
}

p a:hover, li a:hover, small a:hover, a:hover small {
    border-bottom: 2px solid $accent-color;
}

/* text styles */

.title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
    font-size: 2.5rem;
    line-height: 2.75rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-weight: 800;
}

@media screen and (min-width: 1380px) {

    .title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
        font-size: 7.75rem;
        line-height: 8.5rem;
        letter-spacing: -0.025rem;
    }
    
}



/*
.title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
    font-size: 2.25rem;
    line-height: 2.375rem;
    font-weight: 800;
    margin-top: 1rem;
    padding-top: 2rem;
}
*/

h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
    font-size: 2rem;
    line-height: 2.25rem;
    margin-top: 0;
    margin-bottom: 2.5rem;
    font-weight: 800;
  }
  
h2, .heading-2, h1.heading-2, h2.heading-2, h3.heading-2, h4.heading-2, h5.heading-2, h6.heading-2 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-weight: 700;
}

h3, .heading-3, h1.heading-3, h2.heading-3, h3.heading-3, h4.heading-3, h5.heading-3, h6.heading-3 {
    font-size: 1.375rem;
    line-height: 1.5rem;
    margin-top: 0;
    margin-bottom: 1.75rem;
    font-weight: 700;
}


h4, .heading-4, h1.heading-4, h2.heading-4, h3.heading-4, h4.heading-4, h5.heading-4, h6.heading-4 {
    font-size: 1.25rem;
    line-height: 1.375rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 700;
}

p, p a, li, p strong, p span, li strong, th, td {
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 400;
}

p {
    margin-top: 0;
    margin-bottom: 2rem;
}


pre, code, pre code {
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
}

small, h1.caption, h2.caption, h3.caption, h4.caption, h5.caption, h6.caption {
    font-size: 0.75rem;
    line-height: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
}

small {
    display: block;
}


/*///////////// BASE/_TYPOGRAPHY end /////////////*/