body.docs-theme {

    /*   * {
        color: inherit;
    } */

    aside {
        position: fixed;
        display: none;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 240px;
        height: 100vh;
        top: 12px;
        right: 0px;
        z-index: 350;
    }

    @media (min-width: 768px) {
        aside {
            position: sticky;
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 20px;
            width: 320px;
            height: 100vh;
            top: 0px;
            right: unset;
            padding-bottom: 0;
        }
    }

    aside h2 {
        margin-top: 20px;
    }

    ul.table-of-contents {
        padding-bottom: 80px;
        padding-left: 0;
        margin-top: 16px;
    }

    ul.table-of-contents li {
        margin-bottom: 8px;
    }

    ul.table-of-contents li a {
        font-size: 1rem;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 0 !important;
        font-family: var(--primary-caption-font);
        text-transform: none !important;
    }

    main {
        padding-top: 20px;
        margin-inline: 20px;
    }

    .cover {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}