body.docs-theme {

    /*   * {
        color: inherit;
    } */

    aside {
        position: fixed;
        display: none;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        width: 240px;
        height: 100vh;
        top: 12px;
        right: 0px;
        z-index: 350;
    }

    @media (min-width: 768px) {
        aside {
            position: sticky;
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 20px;
            width: 320px;
            height: 100vh;
            top: 0px;
            right: unset;
            padding-bottom: 0;
        }
    }

    main {
        padding-top: 20px;
        margin-inline: 20px;
    }

    .cover {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

}