body.docs-theme {

    /*   * {
        color: inherit;
    } */

    .main-wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        justify-items: center;
        grid-template-areas:
            'header'
            'main';
    }

    @media (min-width: 768px) {
        .main-wrapper {
            justify-items: unset;
            grid-template-columns: minmax(290px, 400px) 1fr;
            grid-template-rows: auto;
            grid-template-areas: 'header main';
        }
    }

    aside {
        display: none;
    }

    @media (min-width: 768px) {
        aside {
            position: sticky;
            display: flex;
            flex-direction: column;
            gap: 0;
            padding: 20px;
            width: 320px;
            height: 100vh;
            top: 0px;
            right: unset;
            padding-bottom: 0;
            grid-area: header;
        }
    }

    aside h2 {
        margin-top: 20px;
    }

    ul.table-of-contents {
        padding-bottom: 80px;
        padding-left: 0;
        margin-top: 16px;
        overflow-y: auto;
    }

    ul.table-of-contents li {
        line-height: 1.25;
    }

    ul.table-of-contents ul {
        padding-inline-start: 16px;
    }
    
    .table-of-contents a {
        text-decoration: none;
    }

    main {
        grid-area: main;
        margin-inline: unset;
        width: clamp(calc(100% - 32px), 760px, 61vw);
        padding: 80px 0;
}

    .cover {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    @media (min-width: 768px) {
        .cover {
            display: grid;
            align-items: end;
            grid-template-columns: auto 220px;
            grid-template-rows: auto;
            gap: 0px;
        }
        .cover img:first-of-type {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
        .cover h1 {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }

    .preview {
        margin-bottom: 2rem;
        padding: 24px;
        background: #1d272c0b;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        align-items: center;
        min-height: 240px;
    }

    .preview {
        .heading-1, .heading-2, .heading-3, .heading-4, .heading-5, .heading-6 {
            margin-bottom: 0;
        }
    }

    .preview figure img {
        margin: 0 auto;
    }

    main img, iframe {
        margin-bottom: 2rem;
        max-width: 100%;
    }

    main img {
        display: inline-block;
    }

}