/* --------------------------------------------------------- */
/* 

*/
/* --------------------------------------------------------- */

.polykit-site {
    --dark-mode-background: var(--blue-900);
}

.polykit-site{
    background: url('../../imgs/site/grid-pattern.png') no-repeat top center, #0B0E28;
    background-size: unset;
}

.type-demo-margin {
    width: 100%;
    background: var(--blue-10pct);
}

.type-demo-padding {
    width: 100%;
    background: var(--blue-10pct);
}


/* TITLE-1 */

.title-1-demo .type-demo-margin-top {
    height: 0rem;
}

.title-1-demo .type-demo-padding-top {
    height: 3rem;
}

.title-1-demo .type-demo-margin-bottom {
    height: 2.5rem;
}

/* HEADING-1 */

.heading-1-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-1-demo .type-demo-padding-top {
    height: 3rem;
}

.heading-1-demo .type-demo-margin-bottom {
    height: 2.5rem;
}

/* HEADING-2 */

.heading-2-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-2-demo .type-demo-padding-top {
    height: 2.5rem;
}

.heading-2-demo .type-demo-margin-bottom {
    height: 2rem;
}


/* HEADING-3 */

.heading-3-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-3-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-3-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* HEADING-4 */

.heading-4-demo .type-demo-margin-top {
    height: 0rem;
}

.heading-4-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-4-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* P */

.p-demo .type-demo-margin-top {
    height: 0rem;
}

.p-demo .type-demo-padding-top {
    height: 0rem;
}

.p-demo .type-demo-margin-bottom {
    height: 2rem;
}

/* SMALL */

.small-demo .type-demo-margin-top {
    height: 0rem;
}

.small-demo .type-demo-padding-top {
    height: 0rem;
}

.small-demo .type-demo-margin-bottom {
    height: 0rem;
}

main.demo {
    padding-top: 7rem;
}

div.components-demo {
    display: flex;
    padding: 2rem;
    background-color: black;
    border: 1px solid #ffffff3b; 
}

div.mailchimp-form-container {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 1rem;
}

div.mailchimp-form-container div.mc-field-group {
    margin: 1rem auto;
}

div.mailchimp-form-container div.mc-field-group label, div.mailchimp-form-container div.mc-field-group input {
    width: 240px;
    margin: 0 auto;
}

/* --------------------------------------------------------- */


.home h1 {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}