.polyfen-site {
    --accent-color-h: 259;
    --accent-color-s: 100%;
    --accent-color-l: 59%;
    --accent-color-l-100: 90%;
    --accent-color-l-800: 30%;
    --accent-color-l-850: 24%;
    --accent-color-l-900: 10%;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-100: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-100));
    --accent-color-800: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-800));
    --accent-color-850: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-850));
    --accent-color-900: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-900));
    --accent-color-950: #0C0C27;
    --accent-color-30pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.3);
    --accent-color-50pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.5);
    --accent-color-90pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.9);
    --accent-gradient-start: #D837F8;
    --accent-gradient-end: #3747F8;
    --accent-color-gradient: linear-gradient(45deg, var(--accent-gradient-start), var(--accent-gradient-end));

    --light-mode-background: #EDF0F7;
    --dark-mode-background: #07091F;

    .cta-button {
        background-image: var(--accent-color-gradient);
    }
    
    hr {
        border-color: #00000000;
    }

}

@media screen and (min-width: 768px) {
    body.polyfen-site nav.header-nav.position-fixed {
        border-color: var(--accent-color-30pct);
    }
}