.polyfen-site {
    --accent-color-h: 259;
    --accent-color-s: 100;
    --accent-color-l: 59;
    --accent-color-l-800: 30;
    --accent-color-l-900: 10;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s)%, var(--accent-color-l));
    --accent-color-800: hsl(var(--accent-color-h), var(--accent-color-s)%, var(--accent-color-l-800));
    --accent-color-900: hsl(var(--accent-color-h), var(--accent-color-s)%, var(--accent-color-l-900));
    --accent-color-50pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.5);
    --accent-color-gradient-start: var(--blue-gradient-start);
    --accent-color-gradient-end: var(--blue-gradient-end);
    --accent-gradient: var(--blue-gradient);


    --light-mode-background: #EDF0F7;
    --dark-mode-background: var(--slate-950);
}