.sotr-site {
    --accent-color-h: 346;
    --accent-color-s: 93%;
    --accent-color-l: 50%;
    --accent-color-l-800: 30%;
    --accent-color-l-900: 10%;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-800: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-800));
    --accent-color-900: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-900));
    --accent-color-50pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.5);
    --accent-color-90pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.9);

    --sans-serif-font-family: 'BrittiSansVar';
    --serif-font-family: 'Lora';
    --mono-font-family: 'Anonymous Pro';
    --display-font-family: var(--sans-serif-font-family);
    --body-text-font-family: var(--sans-serif-font-family);
    --captions-font-family: var(--sans-serif-font-family);


    --light-mode-background: #ffffff;
    --dark-mode-background: var(--slate-950);

    button, .button {    
        border-radius: 4px;
    }
    
    button:hover, .button:hover {
        box-shadow: 0 0 0 4px black !important;
    }

    .title-1, h1.title-1, h2.title-1, h3.title-1, h4.title-1, h5.title-1, h6.title-1 {
        font-weight: 700;
        font-variation-settings: "wght" 700;
    }
    
    
    .title-2, h1.title-2, h2.title-2, h3.title-2, h4.title-2, h5.title-2, h6.title-2 {
        font-weight: 700;
        font-variation-settings: "wght" 700;
    }
    
    h1, .heading-1, h1.heading-1, h2.heading-1, h3.heading-1, h4.heading-1, h5.heading-1, h6.heading-1 {
        font-weight: 700;
        font-variation-settings: "wght" 700;
    }
}
