.sotr-site {
    --accent-color-h: 346;
    --accent-color-s: 93%;
    --accent-color-l: 50%;
    --accent-color-l-800: 30%;
    --accent-color-l-900: 10%;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-800: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-800));
    --accent-color-900: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-900));
    --accent-color-50pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.5);
    --accent-color-90pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.9);

    --sans-serif-font-family: 'Work Sans';
    --serif-font-family: 'Lora';
    --mono-font-family: 'Anonymous Pro';
    --display-font-family: var(--sans-serif-font-family);
    --body-text-font-family: var(--sans-serif-font-family);
    --captions-font-family: var(--sans-serif-font-family);


    --light-mode-background: #ecf0f3;
    --light-mode-background: #EDF0F7;
    --dark-mode-background: var(--slate-950);

    button, .button {
        border-radius: 2px;
    }
}
