.sotr-site {
    --accent-color-h: 346;
    --accent-color-s: 93%;
    --accent-color-l: 50%;
    --accent-color-l-800: 30%;
    --accent-color-l-900: 10%;
    --accent-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
    --accent-color-800: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-800));
    --accent-color-900: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l-900));
    --accent-color-50pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.5);
    --accent-color-90pct: hsla(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l), 0.9);

    --sans-serif-font-family: 'Work Sans';
    --serif-font-family: 'Lora';
    --mono-font-family: 'Anonymous Pro';
    --display-font-family: var(--sans-serif-font-family);
    --body-text-font-family: var(--sans-serif-font-family);
    --captions-font-family: var(--sans-serif-font-family);


    --light-mode-background: #ffffff;
    --dark-mode-background: var(--slate-950);

    button, .button {    
        border-radius: 2px 8px 2px 8px;
    }

    .light-mode {
        button:hover, a.button:hover, input.button:hover {
            box-shadow: 0 0 4px 2px var(--accent-color-50pct), 0 8px 4px -4px rgba(0, 0, 0, 0.2);
        }
    }
}
