.accordions-container {
    padding-top: 2rem;
}

.accordion {
    border-bottom: 1px solid #7437f850;
    margin-bottom: 32px;
}

.acc-button {
    display: flex;
    position: relative;
    cursor: pointer;
    align-items: center;
    transition: .4s;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ffffff4d;
}

.faqs h3.heading-4 {
    margin-bottom: 0;
    display: flex;
    gap: 5px;
}

.faqs .accordion h3 span {
    color: #7537F8;
}

.acc-button:after {
    content: '\002B';
    float: right;
    margin-left: auto;
    font-size: 2rem;
}

