.card {
    display: flex;
    flex-direction: column;
    border: 1px solid #7437f850;
    background: #120e3278;
    border-radius: 6px;
    margin-bottom: 8px;
    flex: 1;
    width: 300px;
    margin-inline: auto;
}

.card-with-padding {
    padding-inline: 16px;
    padding-block: 16px 24px;
}

@media (min-width: 1024px) {
    .card-with-padding {
        padding-inline: 24px;
        padding-block: 24px 32px;
    }
}

.card-header {
    background: #391E81;
    padding: 16px;
    border-radius: 6px 6px 0 0;
    position: relative;
}

.featured-card .card-header {
    background-image: linear-gradient(45deg, #722FFF, #4b00ae, #d12b94, #722FFF, #4b00ae);
    background-size: 200% 200%;
    animation: gradient 12s infinite;
}

.card-header h3 {
    margin-bottom: 0;
    font-weight: 700;
}

.card-header h4 {
    font-weight: 400;
    display: inline;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-block: 24px 16px;
    padding-inline: 16px;
}

.card li {
    font-family: var(--captions-font-family);
    text-wrap: balance;
    font-size: 1rem;
    margin-bottom: 0.35rem;
}

.card-body ul {
    margin-bottom: 0;
}

.card-label {
    position: absolute;
    inset: 12px 12px auto auto;
    padding: 6px 16px 4px;
    background: rgb(6 9 36 / 41%);
    border-radius: 4px;
}

.card p, .card p a {
    font-family: var(--captions-font-family), var(--sans-fallback-fonts);
}