/* --------------------------------------------------------- */
/* 

*/
/* --------------------------------------------------------- */

nav ul {
    list-style: none;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
}

nav a:hover {
    border-bottom: 2px solid $primary-color;
}

.current-page {
    opacity: 0.4;
}

/* --------------------------------------------------------- */
