.type-demo-margin {
    width: 100%;
    background: cyan;
}

.type-demo-padding {
    width: 100%;
    background: magenta;
}

.title-1-demo .type-demo-margin-top {
    height: 1rem;
}

.title-1-demo .type-demo-padding-top {
    height: 2rem;
}

.title-1-demo .type-demo-margin-bottom {
    height: 2rem;
}

.heading-1-demo .type-demo-margin-top {
    height: 1rem;
}

.heading-1-demo .type-demo-padding-top {
    height: 2rem;
}

.heading-1-demo .type-demo-margin-bottom {
    height: 2rem;
}